body {
	background-color: yellow;
	color: rgb(32,32,32);
	font-family: Courier;
}

* {
	margin: 0;
	padding: 0;
}


h1{
	color: rgb(32,32,32);
	font-family: Helvetica;
	font-weight: 100;
	letter-spacing: 8px;
	font-size: 50px
	text-transform:uppercase;
}

h2{color: rgb(32,32,32);
	font-family: Helvetica;
	font-weight: 100;
	letter-spacing: 8px;
	font-size: 50px
	text-transform: uppercase;	
}

a{
	transition: color 0.3s ease;
	text-decoration: none;
}

a:hover{
	color: yellow;
}